<!DOCTYPE html>
<html>
<head>
    <title>Register Complaint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Register Complaint</h2>

    <form method="POST">

        <input type="text"
               name="title"
               placeholder="Complaint Title"
               required>

        <textarea
            name="description"
            placeholder="Enter Description"
            rows="5"
            required></textarea>

        <button type="submit">
            Submit Complaint
        </button>

    </form>

</div>

</body>
</html>